{{ include("sdb/head.twig") }}


<header class="bg-primary py-5 mb-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">👋Hey there!</h1>
          <br/>
          <p class="lead mb-5 text-white-50">I am a technologist in Boston who leads a development team as well as being an ad-hoc software engineering / Linux server administration resource for tough problems at a fast-paced digital agency startup.</p>
        </div>
      </div>
    </div>
</header>

<div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>Background</h2>
        <hr>
        <p>My specialty is in being the ultimate generalist when it comes to backend technologies: I am comfortable integrating n services in a sane way, regardless of platform, programming language, or other technical details. </p>
        <p>I also take pride in my ability to express ideas clearly and communicate effectively in a wide variety of business environments, which is absolutely necessary to deliver exactly what the client is looking for.</p>
        <p>I am currently open to consulting on both high level architecture decisions and software implementation. </p>
        <a class="btn btn-primary btn-lg" href="mailto:nick@nickstein.net">Contact Me</a>
      </div>
      <div class="col-md-4 mb-5">
        <img class="img-fluid" src="img/nick.jpg"/>
      </div>
      
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Integrations</h4>
            <p class="card-text">If there's a need to connect service A to B, it's possible somehow. Also, whenever possible, mapping layers can be built to make the integration self-maintainable for a new field here and there.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary disabled">Example Project ➡️</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="card ">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Data ETL & Scraping</h4>
            <p class="card-text">I have experience with SOAP, REST, COM Interop, scraping, and databases -- whatever it takes to a) pull your data b) transform it and c) shove it somewhere else (or make it accessible on the web). </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary disabled">Example Project ➡️</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 mb-5">
        <div class="card ">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Automation</h4>
            <p class="card-text">I am highly effective at identifying pragmatic ways to bring software automation into business and actually executing on those ideas.</p>
          </div>
          <div class="card-footer">
          
            <a href="#" class="btn btn-primary disabled">Example Project ➡️</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card ">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Deep Systems Knowledge</h4>
            <p class="card-text">My passion for technology stems from an initial fascination with Linux. This allows me to triage and solve difficult to debug problems </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary disabled">Example Project ➡️</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 mb-5">
        <div class="card ">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">DevOps</h4>
            <p class="card-text">I am very comfortable with the leading CI/CD platforms and building scripts / tools on top of them to completely automate builds.</p>
          </div>
          <div class="card-footer">
          
            <a href="#" class="btn btn-primary disabled">Example Project ➡️</a>
          </div>
        </div>
      </div>

       <div class="col-md-4 mb-5">
        <div class="card ">
          <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Docker / Local Dev</h4>
            <p class="card-text">I stand by "immutable infrastructure"; having the same containers run on prod and local dev eliminates "it worked on my machine".</p>
          </div>
          <div class="card-footer">
          
            <a href="#" class="btn btn-primary disabled">Example Project ➡️</a>
          </div>
        </div>
      </div>
    </div>
  </div>